{% if (include.width == "") or (include.width == Nil) %}
	{% assign include.width="6" %}
{% endif %}

<!-- Card Projects -->
<div class="col-md-{{include.width }}">
	<div class="card">
		<div class="card-image">
			<img class="img-responsive" src="{{ include.img }}">
			<span class="card-overlay-title">{{ include.overlaytitle }}</span>
		</div>
		
		<div class="card-title">
			<p>{{ include.title }}</p>
		</div>
		
		<div class="card-content">
			<p>{{ include.content }}</p>
		</div>
		
		<div class="card-action">
			<a href="{{ include.linkurl }}">{{ include.linktext }}</a>
		</div>
	</div>
</div>
